<div class="table-container">
	<div class="search">
    	<input #searchUnit id="search-unit" />
        <button (click)="search(searchUnit.value)">Search</button> 
    </div>
    <table cellpadding="0px" cellspacing="0">
        <tbody>
            <tr>
                <th style="width:20%">id</th>
                <th style="width:30%">name</th>
                <th style="width:30%">start date</th>
                <th style="width:20%"></th>
            </tr>
            <tr *ngFor="let unit of units; let i=even" [class.even]="i">
            	<td>{{unit.id}}</td>
                <td *ngIf="!unit.editable">{{unit.name}}</td>
                <td *ngIf="unit.editable"><input [(ngModel)]="unit.name"></td>
                <td *ngIf="!unit.editable">{{unit.startDate}}</td>
                <td *ngIf="unit.editable"><input [(ngModel)]="unit.startDate"></td>
                <td>
                    <button *ngIf="!unit.editable" (click)="onEdit(unit)">Edit</button>
                    <button *ngIf="unit.editable" (click)="onSave(unit)">Save</button>
                    <button (click)="delete(unit)">Delete</button>
                </td>
            </tr>
            <tr *ngIf="addUnit">
            	<td></td>
            	<td><input #unitName (keyup)="0"></td>
                <td><input #unitDate (keyup)="0"></td>
                <button *ngIf="addUnit" class="long" (click)="create(unitName.value,unitDate.value)">Save Add</button>
            </tr>
        </tbody>
    </table>
    <div class="footer">
    	<button *ngIf="!addUnit" class="long" (click)="add()">Add</button>
    </div>
</div>